<h1>Home</h1>
<p>Welcome to the app!
    The main transactions list page which shows all of transactions and allows you to add, delete, edit transactions 
    and to sort by any column and to group by the category column .</p>
